mixin placeholderSoPugReadsThisShiButThatActuallyIsTheIdentityMixinIGuess(potat)
    = `${potat}`



-
    const CSS = (className) => {
        const daisy = {
            nav: "navbar bg-base-100",
            navButton: "btn btn-ghost normal-case text-xl",
            navButtonPrimary: "btn btn-primary normal-case text-xl ",
            navDropdown: "btn btn-ghost normal-case text-xl",
            dropdownUl: "mt-3 p-2 shadow menu menu-compact dropdown-content bg-base-100 rounded-box w-52",
            heroText: "hero-content text-center text-neutral-content",
            hero: "hero min-h-[400px] max-h-[600px] bg-gradient-to-tr from-primary-focus to-accent-focus place-content-center"
        }
        return daisy[className]
    }